<header id="navbar" class="navbar-default header" role="navigation">
	<div class="container">
		{{ page.header }}
	</div>
</header>
<main role="main">
	<div class="main-content">
	</div>{# the content goes here #}
	{% if page.sidebar_first %}
	<aside class="layout-sidebar_first" role="complementry">
		{{ page.sidebar_first }}
	</aside>
	{% endif %}
	{% if page.sidebar_second %}
	<aside class="layout-sidebar_second" role="complementry">
		{{ page.sidebar_second }}
	</aside>
</main>
{% if page.footer %}
<footer role="contentinfo">
	{{ page.footer }}
</footer>
{% endif %}